@media (max-width: 950px) {
  .image {
    height: 60px;
  }
  .name {
    font-size: 16px;
  }
  .modal {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .image {
    height: 25px;
  }
  .name {
    font-size: 10px;
  }
  .modal {
    height: 85px;
    width: 85px;
  }
}
